/* YourComponent.module.css */

.chat_container_content {
  height: 75vh;
  background-color: white;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4px; 
}

.textContent {
  font-size: 0.875rem; /* 14px */
  color: #6b7280; 
}

/* Responsive styles for smaller screens (mobile devices) */
@media (max-width: 768px) {
  .chat_container_content {
    height: 70vh;
    padding: 5px; /* Reduce padding for smaller screens */
  }

  .textContent {
    font-size: 0.75rem; /* Reduce font size for smaller screens */
  }
}
